.contact {

    .heading-2{
        color: $color-white;
    }

    &__text {
        text-align: center;
    }

    // .contact__list

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        @include respond(phone){
            display: block;
        }
    }

    // .contact__item

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 2rem;
    }

    &__item:hover .zoom-in{
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
    }

    &__item:last-child {
        grid-column: auto;
        @include respond(tab-port){
            grid-column: 1 / span 2;
        }
    }

    &__icon-container{
        height: 4rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $color-white;
        border-radius: 50%;
        margin-block: 2rem;
    }

     // .contact__icon
    &__icon {
        fill: $color-primary;
        width: 2rem;
    }
    .teams{
        width: 3rem;
        margin-bottom: -5px;
    }

    // .contact__name

    &__name {
        font-size: $fs-500;
        margin-bottom: 1rem;
    }

    // .contact__skype

    &__skype {
    }
    &__email{
        color: $color-white; 
    }

    .external-link{
        width: 1rem;
        height: 1rem;
        margin-left: 4px;
        margin-bottom: 3px;
        fill: $color-white;
    }

    .linkedin-link{
        display: flex;
        align-items: center;
        color: $color-white;
    }
}

