.footer {
    background-color: $color-secondary;
    height: 4rem;
    color: $color-white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    // .footer_copyright
    &_copyright {
    }

    // .footer__link
    &__link {
        color: $color-white;
    }
}
