.home {
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    // .home__content
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;

        @include respond(tab-port) {
            width: 100%;
            justify-content: start;
            padding-top: 3rem;
        }

        .heading-primary {
            display: flex;
            flex-direction: column;
        }

        p {
            margin-bottom: 2rem;
        }
    }

    // .home__picture
    &__picture {
        max-width: 100%;
        max-height: 100%;
        display: flex;

        .img {
            width: 100%;
            height: 665px;
            display: block;
            object-fit: cover;
            margin-top: auto;
        }

        @include respond(tab-port) {
            display: none;
        }
    }
}

.heading-primary {
    margin-bottom: 1.5rem;

    &--main {
        margin-bottom: 1.1rem;
    }

    &--sub {
        margin-bottom: 1.5rem;
    }

    &::after {
        content: '';
        width: 30%;
        height: 4px;
        background-color: $color-primary;
        opacity: 60%;
    }
}