.u-center-text{
   text-align: center;
}

//BUTTOM MARGINS
.u-margin-bottom-small{
   margin-bottom: 1.5rem ;
}
.u-margin-bottom-medium{
   margin-bottom: 4rem;
   @include respond(tab-port) {
      margin-bottom: 2rem ;
  }
}
.u-margin-bottom-big{
   margin-bottom: 8rem;

   @include respond(tab-port) {
      margin-bottom: 5rem;
  }
}
.u-margin-bottom-huge{margin-bottom: 10rem;}



//TOP MARGONS
.u-margin-top-small { margin-top: 1.5rem ;}
.u-margin-top-medium{ margin-top: 4rem ;}
.u-margin-top-huge { margin-top: 10rem ;}

//TOP PADDINGS
.u-padding-top-medium{ 
   padding-top: 4rem;
   @include respond(tab-port) {
      padding-top: 2rem;
  }
}
.u-padding-top-huge { padding-top: 10rem ;}

//BOTTOM PADDINGS
.u-padding-bottom-medium{ 
   padding-bottom: 4rem;
   @include respond(tab-port) {
      padding-bottom: 2rem;
  }
}

.zoom-in {
   -webkit-transform: scale(1, 1);
   -moz-transform: scale(1, 1);
   -o-transform: scale(1, 1);
   -ms-transform: scale(1, 1);
   -webkit-transition: all 250ms ease;
   -moz-transition: all 250ms ease;
   -o-transition: all 250ms ease;
   -ms-transition: all 250ms ease;
   transition: all 250ms ease;
}

.no-download {
   pointer-events: none;
   user-select: none;
 }
 .sr-only {
   position:absolute;
   left:-10000px;
   top:auto;
   width:1px;
   height:1px;
   overflow:hidden;
}